<mat-toolbar>
  <span>Lista de Compras</span>
</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutAlign="center stretch">
  <mat-form-field appearance="fill" class="form-field-responsive">
    <mat-label>Adicionar um novo item</mat-label>
    <input matInput [(ngModel)]="newItem" placeholder="Digite um novo item" />
  </mat-form-field>
  <button mat-raised-button (click)="addItem()" [disabled]="!newItem" class="button-add">
    Adicionar
  </button>
  <div class="list-section-not-purchased">
    <h4>Itens não comprados</h4>
    <mat-list>
      <mat-list-item *ngFor="let item of obterItensNaoComprados()" class="item-row-not-purchased">
        <div class="item-content">
          <mat-checkbox [(ngModel)]="item.comprado" class="green-checkbox"></mat-checkbox>
          <span class="item-name">{{ item.nome }}</span>
          <button mat-icon-button color="primary" (click)="editItem(item)" class="edit-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteItem(item)" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="list-section-done-purchased">
    <h4>Itens comprados</h4>
    <mat-list>
      <mat-list-item *ngFor="let item of obterItensComprados()" class="item-row" [ngClass]="{'completed': item.comprado}">
        <div class="item-content">
          <mat-checkbox [(ngModel)]="item.comprado" class="green-checkbox"></mat-checkbox>
          <span class="item-name">{{ item.nome }}</span>
          <button mat-icon-button color="primary" (click)="editItem(item)" class="edit-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteItem(item)" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
